<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8" />
	<link th:href="@{/css/myStyle.css}" rel="stylesheet">
	<title >MyMuseum</title> 
</head>
<body>

	<header th:fragment="intestazione">
		<h1>MyMuseum</h1>
	</header>

	
	
	<footer th:fragment="fondo">
		<h3 id="footer">MyMuseum</h3>
		<p id="footer">Tel: 065512671, Email: myMuseum@email.com</p>
	</footer>
</body>
</html>